PUID=99
PGID=100
TZ=America/Los_Angeles

UPDATE_ON_BOOT=true
VALIDATE_ON_UPDATE=true
WINETRICKS_ON_BOOT=true

PORT=8211
QUERY_PORT=27015
MULTITHREADING=true
COMMUNITY=false
PAL_EXE=
EXTRA_ARGS=

MODS_ENABLED=true
MOD_OVERLAY_ON_BOOT=true
XVFB_LOG_STDOUT=false

BACKUP_ENABLED=true
BACKUP_CRON=0 */6 * * *
DELETE_OLD_BACKUPS=false
OLD_BACKUP_DAYS=30
